APP_NAME="Weather API"
APP_ENV=local
APP_KEY=base64:ntpAnw8WGbKo1pp1fJKr6Qojl/+LRbWV4qG0sBA22wE=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

# get a free key at https://openweathermap.org/api
OPENWEATHERMAP_API_KEY=your_api_key_here
OPENWEATHERMAP_BASE_URL=https://api.openweathermap.org/data/2.5
